<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tem usuário</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companiesData.data">
                    <td>{{ company.id.substring(0, 8) }}</td>
                    <td>{{company.name_fantasy}}</td>
                    <td>{{handleUser(company.user)}}</td>
                    <td>{{company.status.text}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="openModal(company)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-success" *ngIf="hasDeleted(company)" (click)="mutateCompany(company, 'active')"><i class="fa fa-unlock"></i></button>
                        <button type="button" class="btn btn-danger" *ngIf="!hasDeleted(company)" (click)="mutateCompany(company, 'delete')"><i class="fa fa-lock"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li> -->
                <li class="page-item" *ngFor="let order of [].constructor(companiesData.lastPage); let i = index" [ngClass]="{'active':isActualPage(i)}" (click)="setPage(i)">
                    <button class="page-link">{{i+1}}</button></li>
                <!-- <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li> -->
            </ul>
        </nav>

    </div>
</div>

<ng-template #companyModal let-c="close" let-d="dismiss">
    <div class="modal-content bg-gradient-neutral">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Empresa - {{ companyData.name_social }} - ( {{ companyData.status.text }} )</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="mt-2">

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name_fantasy">Nome Fantasia</label>
                        <input type="text" class="form-control" id="name_fantasy" [(ngModel)]="companyData.name_fantasy" maxlength="50">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name_social">Nome Social</label>
                        <input type="text" class="form-control" id="name_social" [(ngModel)]="companyData.name_social" maxlength="50">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="companyData.email" maxlength="100">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="person">Responsável</label>
                        <input type="text" class="form-control" id="person" [(ngModel)]="companyData.person" maxlength="50">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="document">CNPJ</label>
                        <input type="text" class="form-control" id="document" [(ngModel)]="companyData.document" mask="00.000.000/0000-00">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone">Telefone</label>
                        <input type="text" class="form-control" id="phone" [(ngModel)]="companyData.phone" mask="(00) 0000 00009">
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer align-items-center">
            <button type="button" class="btn btn-outline-primary" (click)="closeCompanyModal()">Fechar</button>
            <button type="button" class="btn btn-success" (click)="updateCompany(true)" *ngIf="hasUser(companyData.user)">Ativar Usuário</button>
            <button type="button" class="btn btn-primary" (click)="updateCompany()">Salvar</button>
        </div>
    </div>
</ng-template>